.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bg{
    background-color: rgb(245, 248, 255);
}

.header-bg{
    background-image: url('../Assignment1/Assets/Hero-bg.png');
    background-repeat: round;
    padding-bottom: 152px;
}

.nav-div{
    margin-bottom: 158px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px;
}

.h2-title{
    font-weight: 900px;
    font-size: 34px;
    margin: 0px;
}

.logo-color{
    color: #4E47FF;
}

.btn-one{
    font-weight: 700px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    background-color: #4E47FF;
    
}

.btn-one:hover{
    background-color: blueviolet;
}

.btn-deco{
    color: white;
    align-items: center;
    text-decoration-line: none;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.trp-color{
    color: #252432;
}

.banner-msg{
    font-size: 65px;
    font-weight: 700px;
    text-align: center;
    
}

.action{
    display: flex;
    gap: 220px;
    margin: 116px 159px 116px 141px;
    align-items: center;
}

.action-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 517px;
}

.action-h3{
    font-weight: 700px;
    font-size: 42px;
    margin: 0px;
}

.action-para{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0px;
}

.action-img{
    border-radius: 48px;
}

.productive-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 80px;
    margin: 0px 159px 137px 141px;
}

.pu-h3{
    font-size: 38px;
    font-weight: 700px;
    margin: 0px;
}

.pu-list{
    display: flex;
    gap: 158px;
}

.list-deco{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.list-caps{
    font-size: 80px;
    font-weight: 700px;
    color: #4E47FF;
    margin: 0px;
}

.list-lows{
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 149px 137px 151px;
}

.rvw-h3{
    font-size: 42px;
    font-weight: 700px;
}

.rvw{
    display: flex;
    gap: 20px;
}

.rvw-cards{
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgb(242, 237, 237);
    border-width: 1px;
    border-style: solid;
    border-radius: 14px;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-height: 243px;
    max-width: 366px;
}

.rvw-stars{
    margin: 0px;
    display: inline;
    gap: 4px;
    height: 20px;
}

.stars{
    margin: 0px;
}

.rvw-para{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 318.67px;
    height: 81px;
}

.rvw-caps{
    color: black;
    font-size: 28px;
    margin: 0px;
}

.rvw-lows{
    font-size: 16px;
    color: black;
    margin: 0px;
}

.rvwr{
    display: flex;
    gap: 12px;
}

.rvwr-img{
    border-radius: 9999px;
    margin-bottom: 6px;
}

.rvwr-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;

}

.rvwr-name{
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}
.rvw-date{
    font-size: 16px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.focus-better{
    margin: 0px 149px 92.23px 151px;
    padding: 71px 150px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fb-header{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin: 0px;
}

.fb-text{
    font-size: 20px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

.fb-img{
    border-radius: 48px;
}

.get-in-touch{
    display: flex;
    align-items: center;
    padding: 71px 0px;
    justify-content: space-between;
    margin: 0px 150px 14px 150px;
    background-color: rgba(255, 255, 255, 0.5);
}

.contact-text{
    font-size: 97px;
    font-weight: bold;
    color: black;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 19px;
}

.label-text{
    font-size: 18px;
    color: black;
    font-weight: 500px;
    margin: 0px;
}

.msg-area{
    resize: none;
    margin: 0px;
    height: 135px;
}

.form-box{
    margin-top: 10px;
    padding: 20px 32px;
    font-size: 20px;
    width: 497px;
}

.form-submission{
    width: 564px;
    font-weight: 700px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 19px 101px;
    background-color: #4E47FF;
    color: white;
    align-items: center;
}

.form-submission:hover{
    background-color: blueviolet;
}

.footer{
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 103px;
}

.h3-title{
    font-weight: 900px;
    font-size: 100px;
    margin-top: 104px;
    margin-bottom: 0px;
}

.footer-para{
    color: #8987A1;
    font-size: 18px;
    text-align: center;
    margin: 8px 0px 20px 0px;
}

.footnav{
    display: flex;
    gap: 48px;
    margin: 0px;
    padding: 0px;
}

.footlist{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.footlist a{
    text-decoration-line: none;
    color: #8987A1;
    margin: 0px;
    padding: 0px;
}